<html>
    <head>
        <title>Photograf!</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    
<body style="text-align: center;" class="mainPage">

<div style="padding-top: 100px" class="ui sizer vertical">
    <i style="text-align: center" class="camera retro huge icon"></i>
    <h1 class="ui center aligned huge header">
    Welcome To Photograf!
    <div class="sub header">Your place to shine</div>
    </h1>
</div>

<div id="started" class="extra">
	        <a href="/blogs" class= "ui secondary button">
	          Get Started
	          <i class="right chevron icon"></i>
	        </a>
	      </div>
	      
	          </body>
</html>