<html>
    <head>
        <title>Photograf!</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link
        href="https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat|Cardo|Amatic+SC|Satisfy|Quicksand|Poiret+One"
        rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Euphoria+Script|Gruppo&display=swap"
        rel="stylesheet">
        <link rel="icon" href="/Assets/camera-retro-solid.jpg" type="image/gif" sizes="16x16">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
          
        </style>
    </head>
    <body>
      
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div href="#" class="header item">
        <i class="camera retro icon"></i>
         Photograf!
      </div>
      <a href="/" class="item">Home</a>
      <a href="/blogs" class="item">Posts</a>
      <a href="/blogs/new" class="item">New Post</a>
    </div>
  </div>